/* SECCION COLUMNAS */
.columns .fotoscolumna{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}
.has-text-centered h3{
    color:black;
}
.has-text-centered h3:hover{
    color:#68A1B4;
    transition: 0.4s;
}

/* SECCION COLUMNAS */
.has-text-white{
    background-color: rgb(54, 102, 138);
    color:white;
    margin-left:auto;
    margin-right:auto;
    border-radius: 5px;
    width: 20%;
    height: 125%;
}
.has-text-white:hover{
    background-color: #68A1B4;
   
}

.footer img{
    width: 100px;
}