.footer .logo{
    
    width: 200px;
}
.has-text-white{
    background-color: rgb(54, 102, 138);
    color:white;
    margin-left:auto;
    margin-right:auto;
    border-radius: 5px;
    width: 20%;
    height: 125%;
}
.has-text-white:hover{
    background-color: #68A1B4;
   
}

.footer img{
    width: 100px;
}